@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$clr-theme:#431188;
$clr-white:#ffffff;
$clr-default:#3B3B3B;
$clr-base: #2F2F2F;
$clr-green:#59AA4E;
$clr-gray: #707070;
// $clr-dark: #262626;

/* font weight */

$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$fnt1:'Encode Sans',
sans-serif;
$fnt2:'Roboto',
sans-serif;

/* breakpoints */

$smlmobile-breakpoint:320px;
$mobile-breakpoint: 767px;
$tablet-breakpoint:992px;
$desktop-breakpoint:1024px;