@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2o6m95');
  src:  url('../fonts/icomoon.eot?2o6m95#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2o6m95') format('truetype'),
    url('../fonts/icomoon.woff?2o6m95') format('woff'),
    url('../fonts/icomoon.svg?2o6m95#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e902";
}
.icon-downarrow:before {
  content: "\e903";
  color: #f7f7f7;
}
.icon-Group-575:before {
  content: "\e900";
  color: #fff;
}
.icon-play:before {
  content: "\e901";
  color: #fff;
}
