body {
    font-family: $fnt1;
    font-size: 14px;
    color: $clr-default;
    background-color: #F5F5F5;
}

a {
    transition: 0.2s;
    transition: all 0.2s ease;
    color: $clr-theme;
    text-decoration: none;
    outline: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

video {
    width: 100%;
    display: block;
}

.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.cm-dot {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(359deg)
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    z-index: 999;
    img {
        animation: rotation 1s infinite linear;
        transition: all .2s linear;
        width: 90px;
    }
}

.cm-leftright {
    position: absolute;
    top: 0;
    right: 0;
}

.cm-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cm-resolution-card {
    margin: 0 20px 40px 20px;
    box-shadow: -3px -3px 3px #ffffff, 3px 3px 3px rgba(94, 104, 121, .14);
    border-radius: 4px;
    padding: 30px 20px 1px;
    position: relative;
    .flower {
        border: none;
    }
    .resolution {
        color: $clr-theme;
        margin-top: 20px;
        font-size: 16px;
    }
    .name {
        border-top: solid 1px #707070;
        padding-top: 15px;
        margin-bottom: 24px;
    }
}

.disclaimer {
    color: white;
    font-size: 12px;
    background-color: $clr-theme;
    padding: 5px 20px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    position: absolute;
    right: 0;
    top: 0;
}

.no-gutter {
    margin-left: -20px;
    margin-right: -20px;
    img {
        width: 100%;
    }
}

@media only screen and (min-width:$desktop-breakpoint) {
    .cm-resolution-card {
        min-height: 360px;
        padding: 30px 30px 60px;
        .name {
            position: absolute;
            bottom: 0;
            left: 30px;
            right: 30px;
        }
    }
    .santagramParent {
        background: url('../images/santagram-bg.jpg') top right no-repeat #f5f5f5;
    }
    .gratitudeParent {
        background: url('../images/gratitude-bg.jpg') top right no-repeat #f5f5f5;
    }
    .resolutionParent {
        background: url('../images/resolution-bg.jpg') top right no-repeat #f5f5f5;
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .resolutionParent {
        background: url('../images/resolution-mobile-bg.png') top right no-repeat #f5f5f5;
    }
    .gratitudeParent {
        background: url('../images/gratitude-mobile-bg.png') top right no-repeat #f5f5f5;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .disclaimer {
        position: static;
    }
    .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
}