.bs-player {
    position: relative;
    .vector1 {
        position: absolute;
        right: 10px;
        top: -3px;
        z-index: 1;
    }
    .gray-patch {
        width: 110px;
        height: 52px;
        background-color: #f5f5f5;
        position: absolute;
        right: 1px;
        top: 1px;
    }
}

@media only screen and (min-width: $desktop-breakpoint) {
    .bs-player {
        &:before {
            content: "";
            position: absolute;
            width: 140px;
            height: 220px;
            background: url(../images/two-balloon.jpg) top center no-repeat;
            right: 0;
            top: 0;
            transform: translateY(-100%);
        }
    }
}

@media only screen and (max-width: $desktop-breakpoint) {
    .bs-player {
        .gray-patch {
            display: none;
        }
    }
}