.bs-header {
    padding: 10px 0;
    .navbar{
        border-radius: 0;
        margin-bottom: 0;
        .navbar-header{
            .navbar-brand{
                height: auto;
                padding: 0;
                width:200px;
            }
        }
        // .navbar-nav{
        //     .candy{
        //       display: inline-block;
        //       animation: rotation 25s infinite linear;
        //     }
        //     @keyframes rotation {
        //         0% {
        //           transform: rotate(0);
        //         }
        //         100% {
        //           transform: rotate(359deg);
        //         }
        //     }
        // }
    }
}


@media only screen and (max-width: $mobile-breakpoint) {
  .bs-header {
    padding: 10px 0;
    .navbar{
        border-radius: 0;
        margin-bottom: 0;
        .navbar-header{
            float: left;
        }
        // .navbar-nav{
        //   margin: 0;
        //   text-align: right;
        // }
    }
  }
}

@media only screen and (max-width:$smlmobile-breakpoint) {
  .bs-header {
    .navbar{
        .navbar-header{
            float: left;
            .navbar-brand{
              img{
                height: 65px;
              }
            }
        }
        .navbar-nav{
          .candy{
            height: 72px;
          }
        }
    }
  }
}
