    .bs-popup {
        .modal-dialog {
            min-width: 1100px;
            .modal-content {
                border: none;
                border-radius: 0;
                box-shadow: none;
                background-color: #f7f7f7;
                overflow: hidden;
                .modal-body {
                    padding: 25px;
                    // min-height: 500px;
                }
                .close {
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    outline: none;
                    width: 30px;
                    height: 30px;
                    background-color: $clr-theme;
                    border-radius: 50%;
                    opacity: 1;
                    border: none;
                    box-shadow: none;
                    z-index: 5;
                    transform: rotate(45deg);
                    text-shadow: initial;
                    i {
                        position: absolute;
                        font-size: 14px;
                        top: 49%;
                        left: 50%;
                        transform: translate(-49%, -50%);
                        // top: 7px;left: 9px;transform: ;
                    }
                }
                .top-bells {
                    .curve {
                        position: absolute;
                        right: -15%;
                        top: 0;
                    }
                    .bells {
                        position: absolute;
                        right: 10%;
                        top: 68px;
                        z-index: 1;
                    }
                }
                .sec-left {
                    position: relative;
                    min-height: 520px;
                    &::before {
                        content: url("../images/largecurve.png");
                        position: absolute;
                        top: -40px;
                        left: -19%;
                    }
                    .bs-title {
                        margin-bottom: 0;
                    }
                    .image-clips {
                        .clipone {
                            //   position: absolute;
                            //   left: 20%;
                            //   margin-top: 18px;
                            //   z-index: 2;
                            position: absolute;
                            left: 17%;
                            margin-top: 54px;
                            z-index: 2;
                        }
                        .cliptwo {
                            //   position: absolute;
                            //   left: 50%;
                            //   margin-top: 18px;
                            //   z-index: 2;
                            position: absolute;
                            left: 32%;
                            margin-top: 68px;
                            z-index: 2;
                        }
                        .clipthree {
                            //   position: absolute;
                            //   right: 22%;
                            //   margin-top: -22px;
                            //   z-index: 2;
                            position: absolute;
                            left: 45%;
                            margin-top: 12px;
                            z-index: 2;
                        }
                    }
                    .img-bx {
                        position: relative;
                        margin-top: 100px;
                        .inputone {
                            width: 180px;
                            height: 230px;
                            background-color: #e3e3e3;
                            border: 10px solid $clr-white;
                            position: absolute;
                            top: -7px;
                            left: 15px;
                            transform: rotate(3deg);
                            input {
                                width: 180px;
                                height: 210px;
                                opacity: 0;
                                cursor: pointer;
                            }
                            i {
                                font-size: 45px;
                                position: absolute;
                                top: 45%;
                                left: 50%;
                                margin-top: -15px;
                                transform: translate(-50%);
                                cursor: pointer;
                            }
                        }
                        .inputtwo {
                            width: 200px;
                            height: 235px;
                            background-color: #e3e3e3;
                            border: 10px solid $clr-white;
                            position: absolute;
                            top: 13px;
                            left: 22%;
                            input {
                                // width: 200px;
                                // height: 220px;
                                width: 180px;
                                height: 200px;
                                opacity: 0;
                                cursor: pointer;
                            }
                            i {
                                font-size: 45px;
                                position: absolute;
                                top: 45%;
                                left: 50%;
                                margin-top: -15px;
                                transform: translate(-50%);
                                cursor: pointer;
                            }
                        }
                        .inputthree {
                            width: 230px;
                            height: 220px;
                            background-color: #e3e3e3;
                            border: 10px solid $clr-white;
                            position: absolute;
                            top: -70px;
                            right: 0;
                            left: 45%;
                            transform: rotate(70deg);
                            input {
                                // width: 200px;
                                // height: 220px;
                                width: 181px;
                                height: 200px;
                                opacity: 0;
                                cursor: pointer;
                            }
                            i {
                                font-size: 45px;
                                position: absolute;
                                top: 45%;
                                left: 50%;
                                margin-top: -15px;
                                transform: translate(-50%, 8%);
                                cursor: pointer;
                            }
                        }
                    }
                }
                .wingift {
                    .star1 {
                        position: absolute;
                        top: -80px;
                        left: 35%;
                    }
                    .star2 {
                        position: absolute;
                        right: 20px;
                        top: 0;
                    }
                }
            }
        }
        &.typ-greeting {
            .modal-dialog {
                min-width: inherit;
                .modal-content {
                    overflow: initial;
                    &::after {
                        display: none;
                    }
                }
                .modal-body {
                    padding: 30px;
                    background-color: #e3e3e3;
                    .grettingImg {
                        position: relative;
                        // height: 661px;
                        min-height: 750px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        // border: 15px solid $clr-white;
                        p {
                            // position: absolute;
                            // left: 50%;
                            // color: $clr-white;
                            // width:fit-content;
                            // transform: translate(-50%);
                            // text-align: center;
                            font-size: 22px;
                            margin: 0 !important;
                        }
                        // #fromGreet{
                        //     bottom: 12%;
                        // }
                        // #toGreet{
                        //     bottom: 2%;
                        // }
                    }
                    .close {
                        position: absolute;
                        top: -20px;
                        right: -20px;
                        outline: none;
                        width: 50px;
                        height: 50px;
                        background-color: $clr-theme;
                        border-radius: 50%;
                        opacity: 1;
                        border: none;
                        box-shadow: none;
                        z-index: 1;
                        transform: rotate(45deg);
                        text-shadow: initial;
                        i {
                            position: absolute;
                            font-size: 25px;
                            // top: 11px;
                            // transform: rotate(45deg);
                            // left: 12px;
                        }
                    }
                }
            }
        }
    }
    
    #gratitude,
    #resolution {
        .sec-left::before {
            display: none;
        }
        .sec-left {
            min-height: initial;
        }
        .img-bx {
            margin-top: 40px;
        }
        .inputone,
        .inputtwo,
        .inputthree {
            position: relative;
            transform: initial;
            box-shadow: -3px -3px 3px #fff, 3px 3px 3px rgba(94, 104, 121, .14);
            border-radius: 4px;
            background-color: #f5f5f5;
            text-align: center;
            border: none;
            left: initial;
            .icon-Group-575:before {
                color: #D8D6D6;
            }
            img {
                max-height: 100%;
            }
        }
        .photo-caption {
            width: 100%;
            border-radius: 4px;
            background-color: #f5f5f5;
            border: none;
            margin-top: 10px;
            box-shadow: inset -3px -3px 3px #fff, inset 3px 3px 3px rgba(94, 104, 121, .14);
            resize: none;
            height: 60px;
            padding: 5px 7px;
            &:focus {
                outline: none;
            }
        }
        .charline {
            font-size: 10px;
            color: #888888;
        }
    }
    
    @media only screen and (min-width: $mobile-breakpoint) {
        #gratitude {
            .modal-body {
                background: url('../images/gratitude-pop-bg.jpg') bottom right no-repeat;
                background-size: 720px;
            }
        }
        #resolution {
            .modal-body {
                background: url('../images/resolution-pop-bg.jpg') bottom right no-repeat;
                background-size: 670px;
            }
        }
    }
    
    @media only screen and (max-width: $desktop-breakpoint) {
        .bs-popup {
            .modal-dialog {
                min-width: initial;
                width: 1000px;
                .modal-content {
                    .top-bells {
                        .bells {
                            right: 0;
                        }
                        .curve {
                            position: absolute;
                            right: -28%;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .bs-popup {
            &.bs-popup.typ-greeting {
                .modal-dialog {
                    width: 600px;
                    margin: 20px auto 0;
                    .modal-body {
                        .grettingImg {
                            min-height: 775px;
                            p {
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: $mobile-breakpoint) {
        .bs-popup {
            &.bs-popup.typ-greeting {
                .modal-dialog {
                    width: 300px;
                    margin: 20px auto 0;
                    .modal-body {
                        .grettingImg {
                            min-height: 368px;
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: $tablet-breakpoint) {
        .bs-popup {
            .modal-dialog {
                min-width: inherit;
                width: 727px;
                .modal-content {
                    .modal-body {
                        padding: 20px;
                        .top-bells {
                            display: none;
                        }
                        .topcurve {
                            display: none;
                        }
                    }
                    .sec-left {
                        .image-clips {
                            .cliptwo {
                                left: 45%;
                            }
                            .clipthree {
                                left: 80%;
                            }
                        }
                        .img-bx {
                            .inputtwo {
                                top: 13px;
                                left: 33%;
                            }
                            .inputthree {
                                right: 5%;
                                left: inherit;
                            }
                        }
                    }
                    .wingift {
                        .bs-title.typ-popup {
                            margin-bottom: 0;
                            margin-top: 50px;
                        }
                    }
                    .close {
                        top: 38px;
                        right: 22px;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: $mobile-breakpoint) {
        .bs-popup {
            // &.santagram-contest{
            // 	.modal-dialog .modal-content .sec-left{
            // 		min-height: 300px;
            // 	}
            // }
            &.typ-greeting {
                .modal-dialog .modal-content .modal-body {
                    .bs-title h2 {
                        font-size: 28px;
                    }
                }
            }
            .modal-dialog {
                min-width: inherit;
                width: auto;
                .modal-content {
                    .sec-left {
                        // min-height: 400px;
                        min-height: 340px;
                        .bs-title {
                            padding: 0 10px;
                            z-index: 3;
                            position: relative;
                            h2 {
                                font-size: 28px;
                            }
                        }
                        &::before {
                            display: none;
                        }
                        .img-bx {
                            margin-top: 78px;
                            .inputone {
                                width: 105px;
                                height: 140px;
                                background-color: #e3e3e3;
                                border: 5px solid #fff;
                                position: absolute;
                                top: 13px;
                                left: -15px;
                                input {
                                    width: 135px;
                                    height: 170px;
                                }
                                i {
                                    font-size: 30px;
                                }
                            }
                            .inputtwo {
                                width: 120px;
                                height: 145px;
                                background-color: #e3e3e3;
                                border: 5px solid #fff;
                                position: absolute;
                                top: 36px;
                                left: 30%;
                                input {
                                    width: 135px;
                                    height: 170px;
                                }
                                i {
                                    font-size: 30px;
                                }
                            }
                            .inputthree {
                                width: 105px;
                                height: 90px;
                                top: 5px;
                                right: -12px;
                                left: inherit;
                                border: 5px solid $clr-white;
                                transform: rotate(-20deg);
                                input {
                                    width: 100px;
                                    height: 100px;
                                }
                                i {
                                    font-size: 30px;
                                    transform: translate(-50%, 12%);
                                }
                            }
                        }
                        .image-clips {
                            .clipone {
                                margin-top: 64px;
                                height: 30px;
                            }
                            .cliptwo {
                                left: 46%;
                                margin-top: 88px;
                                height: 30px;
                            }
                            .clipthree {
                                right: 18%;
                                margin-top: 63px;
                                left: inherit;
                                height: 30px;
                            }
                        }
                    }
                    .wingift {
                        .star1 {
                            display: none;
                        }
                    }
                    .modal-body {
                        padding: 20px;
                        .close {
                            width: 25px;
                            height: 25px;
                            i {
                                font-size: 13px;
                                // top: 12px;
                                // left: 13px;
                            }
                        }
                        .top-bells {
                            display: none;
                        }
                        .topcurve {
                            display: none;
                        }
                        // .contant-bx{
                        //     margin-right: 0;
                        //     position: relative;
                        //     .star1{
                        //        display: none;
                        //     }
                        //     .star2{
                        //         display: none;
                        //     }
                        // }
                    }
                    .typ-with-curve {
                        .bs-title {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                        &::before {
                            display: none;
                        }
                        // &:after {
                        //     top: -210px;
                        //     right: 0;
                        //     width: 100%;
                        //     height: 382px;
                        // }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: -25%;
                        right: 0;
                        width: 100%;
                        height: 435px;
                        z-index: 1;
                        border-radius: 50%;
                        border: 4px solid #ececec;
                    }
                }
            }
            &.typ-greeting {
                .modal-dialog {
                    .modal-body {
                        .grettingImg {
                            &.set-bg {
                                background-position: center !important;
                            }
                        }
                    }
                }
            }
        }
        #gratitude {
            .inputone {
                width: 100%;
                height: 100px;
                top: 0;
                input {
                    width: 100%;
                    height: 100%;
                }
            }
            .modal-body {
                padding-bottom: 187px;
                background: url('../images/mobile-gratitude.png') center bottom no-repeat;
                background-size: auto 187px;
            }
        }
        #resolution,
        #gratitude {
            .close {
                top: 15px;
                right: 15px;
            }
            .modal-content {
                &:after {
                    display: none;
                }
            }
        }
    }
    
    @media only screen and (max-width:320px) {
        .bs-popup .modal-dialog .modal-content .sec-left {
            .img-bx {
                margin-top: 42px;
            }
            .image-clips {
                .clipthree {
                    margin-top: 20px;
                }
                .cliptwo {
                    margin-top: 55px;
                }
                .clipone {
                    margin-top: 25px;
                }
            }
        }
    }