.bs-bredcrum{
    a{
        display: block;
        font-family: $fnt2;
        font-size: 18px;
        font-weight: $font-medium;
        color: $clr-default;
        margin-left: -20px;
        margin-bottom: 20px;
        i{
            font-size: 14px;
            display: inline-block;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .bs-bredcrum{
        a{
            margin-left: 0;
        }
    }
}