.bs-form {
    .form-group {
        .form-control {
            border: none;
            border-radius: 9px;
            padding: 3px 12px;
            box-shadow: none;
            font-size: 15px;
            font-family: $fnt2;
            &.cm-nuem-form {
                border-radius: 4px;
                background-color: #f5f5f5;
                border: none;
                margin-top: 10px;
                box-shadow: inset -3px -3px 3px #fff, inset 3px 3px 3px rgba(94, 104, 121, .14);
                resize: none;
                padding: 5px 7px;
            }
        }
        .form-check-label {
            font-size: 10px;
            font-family: $fnt2;
            font-weight: $font-medium;
            color: #888888;
            margin-bottom: 0;
            margin-left: 12px;
        }
        .form-check-input {
            margin: 0;
        }
        &.form-check {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 10px;
            /* The container */
            .form-check-label {
                display: block;
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                font-size: 12px;
                font-family: $fnt2;
                font-weight: $font-medium;
                color: #888888;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            /* Hide the browser's default checkbox */
            .form-check-label input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 14px;
                left: -7px;
                height: 20px;
                width: 20px;
                background-color: $clr-white;
                border-radius: 4px;
                span {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    display: block;
                    width: 13px;
                    height: 13px;
                    background-color: green;
                    border-radius: 4px;
                }
            }
            /* When the checkbox is checked, add a blue background */
            .form-check-label input:checked~.checkmark {
                background-color: $clr-white;
                ;
            }
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            /* Show the checkmark when checked */
            .form-check-label input:checked~.checkmark:after {
                display: block;
            }
            /* Style the checkmark/indicator */
            .form-check-label .checkmark:after {
                left: 8px;
                top: 5px;
                width: 5px;
                height: 9px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    // .inputone{
    //     width: 200px;
    //     height: 230px;
    //     background-color: #E3E3E3;
    //     border: 10px solid $clr-white;
    //     position: absolute;
    //     // top: 200px;
    //     top: 165px;
    //     left: -12px;
    //     input{
    //         width: 200px;
    //         height: 230px;
    //         opacity: 0;
    //         cursor: pointer;
    //     }
    //     i{
    //         font-size: 45px;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         margin-top: -15px;
    //         transform: translate(-50%);
    //     }    
    // }
    // .inputtwo{
    //     width: 200px;
    //     height: 220px;
    //     background-color: #E3E3E3;
    //     border: 10px solid $clr-white;
    //     position: absolute;
    //     // top: 203px;
    //     top: 165px;
    //     left: 35%;
    //     input{
    //         width: 200px;
    //         height: 220px;
    //         opacity: 0;
    //         cursor: pointer;
    //     }
    //     i{
    //         font-size: 45px;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         margin-top: -15px;
    //         transform: translate(-50%);
    //     }  
    // }
    // .inputthree{
    //     width: 200px;
    //     height: 220px;
    //     background-color: #E3E3E3;
    //     border: 10px solid $clr-white;
    //     position: absolute;
    //     // top: 161px;
    //     top: 140px;
    //     right: 5px;
    //     input{
    //         width: 200px;
    //         height: 220px;
    //         opacity: 0;
    //     cursor: pointer;
    //     }    
    //     i{
    //         font-size: 45px;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         margin-top: -15px;
    //         transform: translate(-50%);
    //     }  
    // }
     ::-webkit-input-placeholder {
        /* Edge */
        font-size: 15px;
        font-family: $fnt2;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 15px;
        font-family: $fnt2;
    }
     ::placeholder {
        font-size: 15px;
        font-family: $fnt2;
    }
    // &.typ-popup{
    //   margin-top:50px;
    // }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .bs-form {
        .inputone {
            top: 165px;
            left: 0
        }
        .inputtwo {
            top: 184px;
            left: 35%;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-form {
        .inputthree {
            // width: 120px;
            // height: 120px;
            // background-color: #E3E3E3;
            // border: 10px solid #fff;
            // position: absolute;
            // top: 143px;
            // right: 0;
            width: 90px;
            height: 90px;
            background-color: #E3E3E3;
            border: 5px solid #fff;
            position: absolute;
            top: 134px;
            right: 0;
        }
        .inputtwo {
            // width: 150px;
            // height: 200px;
            // top: 186px;
            // left: 32%;
            width: 140px;
            height: 180px;
            top: 168px;
            left: 38%;
            border: 5px solid #fff;
        }
        .inputone {
            // width: 150px;
            // height: 200px;
            // top: 155px;
            // left:0;
            width: 140px;
            height: 180px;
            top: 114px;
            left: 0;
            border: 5px solid #fff;
        }
    }
}

@media only screen and (min-width:$desktop-breakpoint) {
    .wingift {
        margin-top: -80px;
    }
    .bs-popup .modal-dialog .modal-content .wingift {
        .star1 {
            top: -78%;
        }
        .star2 {
            top: -10px;
        }
        .star3 {
            margin-top: -20px;
        }
    }
}