.bs-swiper {
    &.typ-joy-cheer {
        // padding-left: 100px;
        .swiper-scrollbar {
            display: none;
        }
        .swiper-slide {
            text-align: center;
        }
        .swiper-container-horizontal>.swiper-scrollbar {
            // width: 45%!important;
            // left: 50%;
            // transform: translate(-50%);
            // bottom: 26px;
            // background-color: #F7F7F7;
            // border-radius: 0;
            // height: 9px;
            width: 45% !important;
            left: 50%;
            transform: translate(-50%);
            bottom: 26px;
            background-color: #f5f5f5;
            box-shadow: inset -3px -3px 3px #fff, inset 3px 3px 3px rgba(94, 104, 121, .14);
            border-radius: 0;
            border-radius: 25px;
            height: 40px;
            background-image: url(../images/small-star-pattern.png);
            background-repeat: repeat-x;
            background-position: -19px 12px;
            .drag-end {
                width: 27px;
            }
            .swiper-scrollbar-drag {
                border-radius: 50%;
                background-image: linear-gradient(to right, #4C118B 0%, #4C118B 50%, #7A159D 100%);
                z-index: 1;
                left: 7px;
                height: 30px;
                top: 4px;
                width: 30px !important;
                &.last {
                    left: 95px;
                }
            }
        }
        .swiper-scrollbar-drag {
            background-image: url("../images/santa-head.svg");
            background-color: transparent;
            height: 85px;
            top: -45px;
            left: -34px;
            background-repeat: no-repeat;
            border-radius: 0;
        }
    }
    .cheer-container {
        // padding-bottom: 110px;
        .swiper-slide {
            img {
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    &.typ-festive-mood {
        text-align: center;
        .swiper-container-horizontal>.swiper-scrollbar {
            width: 45%!important;
            left: 50%;
            transform: translate(-50%);
            bottom: 26px;
            background-color: #f5f5f5;
            box-shadow: inset -3px -3px 3px #fff, inset 3px 3px 3px rgba(94, 104, 121, .14);
            border-radius: 0;
            border-radius: 25px;
            height: 50px;
            background-image: url(../images/small-star-pattern.png);
            background-repeat: repeat-x;
            background-position: -18px 18px;
            .scrolling-arrow {
                position: absolute;
                top: -10px;
                left: 45%;
                font-size: 28px;
                transform: rotate(-90deg);
                &:before {
                    color: $clr-theme;
                }
            }
            .milk-and-cookies {
                position: absolute;
                right: -52px;
                height: 130px;
                top: -86px;
            }
        }
        .swiper-scrollbar-drag {
            // background-image: url("../images/sleight.svg");
            // background-color: transparent;
            // height: 85px;
            // top: -45px;
            // left: -34px;
            // min-width: 82px;
            // background-repeat: no-repeat;
            width: 38px !important;
            height: 38px;
            left: 8px;
            top: 6px;
            border-radius: 50%;
            background-image: linear-gradient(to right, #4C118B 0%, #4C118B 50%, #7A159D 100%);
            z-index: 1;
        }
        .festive-mood-container {
            padding-top: 30px;
            padding-bottom: 80px;
            // min-height: 570px;
            min-height: 645px;
            .festival-pictures {
                border: 15px solid $clr-white;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
                background-color: white;
                .swiper-wrapper {
                    height: 333px !important;
                }
                .swiper-slide {
                    height: 100%;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    img {
                        height: auto;
                        max-height: 100%;
                        width: auto;
                        // height: 333px
                    }
                }
                .title {
                    background-color: $clr-white;
                    width: 100%;
                    min-height: 43px;
                    p {
                        margin: 0;
                        color: $clr-base;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: $fnt1;
                        padding-top: 15px;
                        &.smallText {
                            font-size: 16px;
                            padding-top: 4px;
                        }
                    }
                }
                &.center {
                    max-width: 500px;
                    .swiper-wrapper {
                        height: 333px !important;
                    }
                    position: absolute;
                    left: 28%;
                    top: 40px;
                    // max-width:300px;
                    // max-height: 373px
                    z-index:0;
                    transition: all 0.5s ease-in;
                    img {
                        height: auto;
                        max-height: 100%;
                        width: auto;
                        // height: 333px
                    }
                    &:hover {
                        z-index: 1;
                        transform: scale(1.1);
                        transition: all 0.5s ease-in;
                    }
                }
                &.left {
                    max-width: 300px;
                    .swiper-wrapper {
                        height: 390px !important;
                    }
                    position: absolute;
                    left: 8%;
                    // top: -7px;
                    top:-5px;
                    transform: rotate(-10deg);
                    // max-width: 300px;
                    // max-height: 451px;
                    z-index: -1;
                    transition: all 0.5s ease-in;
                    img {
                        // width: 300px;
                        //    height: 450px;
                    }
                    &:hover {
                        z-index: 1;
                        transform: scale(1.1);
                        transition: all 0.5s ease-in;
                    }
                }
                &.right {
                    max-width: 500px;
                    .swiper-wrapper {
                        height: 333px !important;
                    }
                    position: absolute;
                    right: 3%;
                    top: 0;
                    transform: rotate(5deg);
                    // max-width: 500px;
                    // max-height: 333px;
                    z-index: -1;
                    transition: all 0.5s ease-in;
                    // img{
                    //     width: 100%;
                    //     // height: 333px
                    // }
                    &:hover {
                        z-index: 1;
                        transition: all 0.5s ease-in;
                        transform: scale(1.1);
                    }
                }
            }
            .swiper-container-inside-slider {
                max-width: 500px;
                max-height: 333px;
                &.typ-vertical {
                    max-width: 300px;
                    max-height: 390px;
                }
                &.typ-galary-vertical {
                    max-width: 359px;
                    max-height: 515px;
                }
                &.typ-galary-horizontal {
                    max-width: 359px;
                    max-height: 373px;
                }
            }
        }
    }
}

.gratitude {
    .festival-pictures {
        &.center,
        &.right {
            .swiper-slide {
                padding-bottom: 50px;
            }
        }
        &.left {
            .swiper-slide {
                padding-bottom: 98px;
            }
        }
    }
    .swiper-slide {
        .title {
            position: absolute;
            bottom: 0;
        }
    }
}

// @keyframes swing {
//     0%, 100% { transform: rotate(00deg); }
//     20% {transform:scale(.95);}
//     50% { transform: rotate(30deg); }
//     80% {transform:scale(.95);}
//   }
@media only screen and (max-width: $tablet-breakpoint) {
    .bs-swiper {
        .cheer-container {
            padding-bottom: 0;
        }
        &.typ-festive-mood {
            .festive-mood-container {
                min-height: 568px;
                .festival-pictures {
                    &.center {
                        // img{
                        //     width: 377px;
                        //     height: 277px;
                        // }
                    }
                    &.left {
                        // max-width: 276px;
                        // max-height: 451px;
                        // img{
                        //     width: 240px;
                        //     height: 362px;
                        // }
                    }
                    &.right {
                        // max-width: 365px;
                        // max-height: 333px;
                        // img{
                        //     width: 377px;
                        //     height: 277px;
                        // }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-swiper {
        &.typ-joy-cheer {
            padding-left: 0;
            .swiper-scrollbar {
                display: block;
            }
            .swiper-container-horizontal>.swiper-scrollbar {
                width: 100%!important;
                .milk-and-cookies {
                    position: absolute;
                    right: 0;
                    height: 70px;
                    top: -36px;
                    width: 40px;
                }
                .scrolling-arrow {
                    position: absolute;
                    top: -10px;
                    left: 45%;
                    font-size: 28px;
                    transform: rotate(-90deg);
                    &:before {
                        color: $clr-theme;
                    }
                }
            }
            .swiper-scrollbar-drag {
                left: 0;
                height: 45px;
                top: -22px;
                background-size: cover;
                width: 57px!important;
                &.last {
                    left: 40px;
                }
            }
        }
        .cheer-container {
            padding-bottom: 90px;
            margin-bottom: 20px;
            .swiper-slide {
                img {
                    border-radius: 10px;
                }
            }
        }
        &.typ-festive-mood {
            text-align: center;
            .festive-mood-container {
                padding-top: 30px;
                padding-bottom: 0;
                min-height: 470px;
                .festival-pictures {
                    border: 10px solid $clr-white;
                    .title {
                        p {
                            font-size: 14px;
                            padding-top: 10px;
                            &.smallText {
                                font-size: 12px;
                            }
                        }
                    }
                    &.center {
                        position: absolute;
                        left: 0;
                        // max-width: 240px;
                        // max-height: initial;
                        margin-left: 72px;
                        margin-top: 50px;
                        .swiper-wrapper {
                            height: 200px !important;
                        }
                        // img{
                        //     width: 200px;
                        //     height:100%;
                        // }
                        &:hover {
                            z-index: 1;
                            transform: scale(1.1);
                            transition: all 0.5s ease-in;
                        }
                    }
                    &.left {
                        position: absolute;
                        left: 15px;
                        top: 20px;
                        transform: rotate(-12deg);
                        .swiper-wrapper {
                            height: 200px !important;
                        }
                        // max-width: 210px;
                        // max-height: inherit;
                        // img{
                        //     width: 180px;
                        //     height:250px;
                        // }
                        &:hover {
                            z-index: 1;
                            transform: scale(1.1);
                            transition: all 0.5s ease-in;
                        }
                    }
                    &.right {
                        position: absolute;
                        right: 0;
                        top: 10px;
                        transform: rotate(10deg);
                        .swiper-wrapper {
                            height: 200px !important;
                        }
                        // max-width: 250px;
                        // max-height:inherit;
                        // img{
                        //     width:200px;
                        //     height:100%;
                        // }
                        &:hover {
                            z-index: 1;
                            transition: all 0.5s ease-in;
                            transform: scale(1.1);
                        }
                    }
                }
                .swiper-container-inside-slider {
                    max-width: 200px;
                    max-height: 200px;
                    &.typ-vertical {
                        max-width: 200px;
                        max-height: 300px;
                    }
                }
            }
            .swiper-container-horizontal>.swiper-scrollbar {
                // &:after {
                //     height: 9px;
                //     background-color: #f7f7f7;
                //     width: 30%;
                //     position: absolute;
                //     top: 0;
                //     left: 200px;
                //     content: "";
                // }
                width: 100%!important;
                left: auto;
                transform: inherit;
                height: 40px;
                background-position: -19px 12px;
                bottom: 0;
                .drag-end {
                    width: 27px;
                }
                .milk-and-cookies {
                    position: absolute;
                    right: -160px;
                    height: 130px;
                    top: -86px;
                }
                .scrolling-arrow {
                    left: 80%;
                    z-index: 2;
                }
            }
            .swiper-scrollbar-drag {
                left: 7px;
                height: 30px;
                top: 5px;
                width: 30px !important;
            }
        }
    }
    .gratitude {
        .festival-pictures {
            &.left {
                .swiper-slide {
                    padding-bottom: 75px;
                }
            }
        }
    }
}

.drag-end {
    width: 36px;
    position: absolute;
    right: 11px;
    top: 7px;
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .bs-swiper.typ-festive-mood .swiper-container-horizontal>.swiper-scrollbar .milk-and-cookies {
        right: -120px;
    }
}

@media only screen and (min-width:$desktop-breakpoint) {
    .bs-swiper.typ-festive-mood .swiper-container-horizontal>.swiper-scrollbar .milk-and-cookies {
        right: -100px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .home {
        .title {
            max-width: 200px;
        }
    }
}