.bs-btn {
    border: none;
    background-color: $clr-theme;
    background-image: linear-gradient(to right, #4C118B 0%, #4C118B 50%, #7A159D 100%);
    box-shadow: none;
    outline: none;
    color: $clr-white;
    // border-radius: 12px;
    border-radius: 20px;
    padding: 8px 30px;
    font-family: $fnt2;
    font-weight: $font-medium;
    font-size: 14px;
    text-transform: capitalize;
    margin-right: 20px;
    &:hover {
        color: $clr-white;
    }
    &.typ-large {
        border-radius: 23px;
        padding: 13px 35px;
        font-size: 16px;
    }
    &.type-gradient {
        background-image: linear-gradient(to right, #4C118B 0%, #4C118B 50%, #7A159D 100%);
    }
    &.type-with-icon {
        padding-right: 55px;
        position: relative;
        display: inline-block;
        text-align: center;
        .icon {
            display: inline-block;
            width: 34px;
            height: 34px;
            background: white;
            vertical-align: middle;
            border-radius: 50%;
            padding-top: 8px;
            position: absolute;
            top: 6px;
            right: 6px;
            &:before {
                color: $clr-theme;
            }
        }
    }
    &.type-neumorphism {
        background: #f5f5f5;
        color: $clr-theme;
        box-shadow: inset -3px -3px 3px #ffffff, inset 3px 3px 3px rgb(94 104 121 / 14%);
        transition: all 0.2s ease;
        &:hover {
            background-image: linear-gradient(to right, #4C118B 0%, #4C118B 50%, #7A159D 100%);
            box-shadow: initial;
            color: white;
        }
    }
}

.actionbx {
    &.typsantagram {
        margin-top: 20px;
    }
    &.card {
        margin-top: 30px;
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .bs-btn {
        margin-right: 10px;
        &.typ-large {
            font-size: 14px;
            padding: 13px 25px;
        }
        &.type-with-icon {
            padding-right: 50px;
            .icon {
                padding-top: 10px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .bs-btn {
        &.typ-large {
            font-size: 13px;
            padding: 13px 22px;
        }
        &.type-with-icon {
            padding-right: 25px;
            .icon {
                display: none;
            }
        }
    }
}