.bs-gallary {
    figure {
        margin: 0;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 12px solid $clr-white;
    }
    .masonry__item {
        width: 33.33%;
        margin: calc(var(--masonryGutter) / 2);
        text-align: center;
        .content {
            margin: 0 10px 20px 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
            background-color: white;
            .swiper-container-inside-slider {
                .swiper-wrapper {
                    display: flex;
                    align-items: center;
                    img {
                        height: 100%;
                    }
                }
            }
            .title {
                padding-bottom: 15px;
                min-height: 43px;
                p {
                    margin-bottom: 0;
                    font-size: 20px;
                    font-family: $fnt1;
                    color: $clr-base;
                    text-align: center;
                    font-weight: $font-medium;
                    &.smallText {
                        font-size: 16px;
                        padding-top: 4px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .masonry {
        margin: calc(var(--masonryGutter) * -1);
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-gallary {
        .masonry__item {
            width: 100%;
            .content {
                .title {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}