.bs-footer {
    position: relative;
    .bgcurve {
        position: absolute;
        top: 0;
        width: 100%;
        background-position: top center !important;
    }
    .inner-content {
        padding-top: 180px;
        padding-bottom: 35px;
        h2 {
            margin: 0;
            font-size: 45px;
            font-family: $fnt1;
            font-weight: $font-regular;
            color: $clr-white;
            margin-bottom: 48px;
            margin-top: 25px;
        }
        p {
            margin: 0;
            font-size: 30px;
            font-family: $fnt1;
            font-weight: $font-regular;
            color: $clr-white;
        }
        a {
            font-size: 30px;
            font-family: $fnt1;
            font-weight: $font-regular;
            color: $clr-white;
        }
    }
}

@media only screen and (max-width:$desktop-breakpoint) {
    .bs-footer {
        position: relative;
        .bgcurve {
            &.set-bg {
                background-position: center!important;
            }
        }
    }
}

@media only screen and (max-width:$tablet-breakpoint) {
    .bs-footer {
        position: relative;
        .bgcurve {
            &.set-bg {
                background-position: center!important;
            }
        }
        .inner-content {
            padding-top: 125px;
            padding-bottom: 35px;
            h2 {
                font-size: 40px;
                margin-bottom: 30px;
            }
            p {
                font-size: 20px;
            }
            a {
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-footer {
        position: relative;
        .bgcurve {
            &.set-bg {
                background-position: center!important;
                .row.inner-content {
                    .col-xs-4 {
                        padding-right: 10px;
                    }
                    .col-xs-8 {
                        padding-left: 0;
                    }
                }
            }
        }
        .inner-content {
            padding-top: 50px;
            padding-bottom: 20px;
            h2 {
                font-size: 14px;
                color: $clr-white;
                margin-bottom: 15px;
            }
            p {
                font-size: 10px;
            }
            a {
                font-size: 10px;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .bs-footer .bgcurve {
        height: 616px;
    }
}

@media only screen and (min-width: $desktop-breakpoint) and (max-width: 1600px) {
    .bs-footer .bgcurve {
        height: 475px;
    }
}