.bs-title {
    margin-bottom: 30px;
    h2 {
        color: $clr-theme;
        font-size: 53px;
        font-family: $fnt1;
        margin: 0;
        font-weight: $font-bold;
        margin-bottom: 15px;
        &.gray-heading {
            color: $clr-gray;
            span {
                display: block;
            }
        }
        &.typ-medium {
            font-size: 43px;
            font-weight: $font-medium;
        }
    }
    p {
        color: $clr-default;
        font-size: 25px;
        font-family: $fnt2;
        margin: 0;
        font-weight: $font-light;
        max-width: 675px;
    }
    .bold-subtile {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: $font-medium;
        font-family: $fnt2;
        margin: 0;
        margin-top: 15px;
        line-height: 1;
        img {
            margin-right: 10px;
        }
    }
    &.typ-popup {
        margin-bottom: 0;
        h2 {
            &.typ-medium {
                font-weight: $font-bold;
                margin-top: 0;
                text-align: center;
                margin-right: 0;
                font-size: 39px;
                margin-bottom: 0;
            }
        }
    }
    &.typ-wishcards {
        position: relative;
        .videoplayvector {
            // position: absolute;right: 10%;top: 50%;margin-top: -50px;
            position: fixed;
            right: 2%;
            bottom: 5%;
            cursor: pointer;
            z-index: 2;
            width: 90px;
        }
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .bs-title {
        margin-bottom: 20px;
        h2 {
            font-size: 50px;
            &.typ-medium {
                font-size: 36px;
            }
        }
        p {
            font-size: 26px;
        }
        .image-clips {
            .cliptwo {
                position: absolute;
                left: 50%;
                margin-top: 50px;
                z-index: 2;
            }
        }
        .bold-subtile {
            font-size: 22px;
        }
        &.typ-wishcards {
            // .videoplayvector{
            //   right: 0;
            // }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-title {
        h2 {
            font-size: 32px;
            &.typ-medium {
                font-size: 18px;
            }
        }
        p {
            font-size: 14px;
            max-width: 100%;
        }
        .image-clips {
            .clipthree {
                right: 14%;
                margin-top: 35px;
            }
            .cliptwo {
                margin-top: 72px;
            }
        }
        &.typ-popup {
            h2 {
                &.typ-medium {
                    margin-top: 50px;
                    margin-right: 0;
                    font-size: 28px;
                }
            }
        }
        &.typ-wishcards {
            .videoplayvector {
                width: 65px;
                right: 1%;
            }
        }
    }
}