.bs-banner {
    min-height: 508px;
    position: relative;
    .inner-content {
        position: absolute;
        left: 40%;
        transform: translate(-30%);
        top: 23%;
        text-align: center;
        h2 {
            margin: 0;
            font-family: $fnt1;
            color: $clr-white;
            font-size: 47px;
            // font-size: 55px;
            font-weight: $font-bold;
            margin-bottom: 10px;
        }
        p {
            color: $clr-white;
            font-size: 27px;
            font-weight: $font-light;
            font-family: $fnt2;
            margin: 0;
            &.description {
                margin-bottom: 38px;
            }
        }
        i {
            font-size: 50px;
        }
    }
    .item {
        position: absolute;
        animation-iteration-count: infinite;
        // animation: swing ease-in 1.3s infinite alternate;
        &.item1 {
            top: 81%;
            left: 7%;
            animation-duration: 2s;
        }
        &.item2 {
            bottom: -10px;
            left: 15%;
            animation-duration: 2.2s;
        }
        &.item3 {
            bottom: 20%;
            right: -5%;
            animation-duration: 2.4s;
        }
        &.item4 {
            left: 30%;
            top: 89%;
            animation-duration: 2.6s;
        }
        &.item5 {
            right: 0;
            top: 15%;
            animation-duration: 2.8s;
        }
        &.item6 {
            right: 19%;
            top: -2px;
            animation-duration: 3s;
            width: 72px;
        }
        &.item7 {
            right: 25%;
            bottom: -44px;
            animation-duration: 3.2s;
        }
        &.item8 {
            left: 41%;
            width: 100px;
            top: 0;
            animation-duration: 3.4s;
        }
    }
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0) rotate(-30deg);
    }
    50% {
        transform: translateY(-15px) rotate(-30deg);
    }
    100% {
        transform: translateY(0) rotate(-30deg);
    }
}

// @keyframes swing {
//     0% { transform: rotate(3deg); }
//     100% { transform: rotate(-3deg); }
// }
@media only screen and (max-width: $desktop-breakpoint) {
    .bs-banner {
        min-height: 465px;
        &.set-bg {
            background-position: center!important;
        }
        .item {
            &.item1 {
                top: 0;
                left: 0;
                height: 200px;
            }
            &.item2 {
                bottom: -10px;
                left: 4%;
                height: 205px;
            }
            &.item3 {
                bottom: 10%;
                right: -5%;
                height: 196px;
            }
            &.item7 {
                right: 45%;
                bottom: -75px;
            }
            &.item4 {
                left: 2%;
                top: 45%;
            }
            &.item6 {
                right: 14%;
                top: -47px;
            }
            &.item5 {
                right: 0;
                top: 14%;
                height: 146px;
            }
        }
        .inner-content {
            h2 {
                font-size: 46px;
            }
            p {
                font-size: 27px;
                &.description {
                    margin-bottom: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .bs-banner {
        min-height: 900px;
        .item {
            // &.item1 {
            //  top: 0;
            //  left: 0;
            //  height: auto;
            //  }
            //  &.item2 {
            //     bottom: 0;
            //     left: 15%;
            //      height: auto;
            //  }
            //  &.item3{
            //     bottom: 20%;
            //     right: -5%;
            //      height: auto;
            //  }
            //  &.item7 {
            //     right: 18%;
            //     bottom: -35px;
            //  }
            //  &.item4 {
            //     left: 7%;
            //     top: 45%;
            //  }
            //  &.item6{
            //     right: 20%;
            //     top: -28px;
            //  }
            //  &.item5{
            //     right: 0;
            //     top: 15%;
            //     height: auto;
            //  }
        }
        .inner-content {
            h2 {
                font-size: 55px;
            }
            p {
                font-size: 30px;
                &.description {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-banner {
        min-height: 480px;
        width: 100%;
        .inner-content {
            position: absolute;
            left: 36%;
            transform: translate(-30%);
            top: 20%;
            text-align: center;
            h2 {
                font-size: 26px;
            }
            p {
                font-size: 16px;
                &.description {
                    margin-bottom: 20px;
                    font-size: 14px;
                }
            }
            i {
                font-size: 30px;
            }
        }
        &.set-bg {
            background-position: center!important;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            width: 90%;
            margin: 0 auto;
        }
        .item {
            position: absolute;
            // animation: swing ease-in 1.3s infinite alternate;
            &.item1 {
                top: 45px;
                left: -10px;
                height: 60px;
            }
            &.item2 {
                bottom: 5%;
                left: 10px;
                height: 100px;
            }
            &.item3 {
                display: none;
            }
            &.item4 {
                bottom: 19%;
                height: 56px;
                top: inherit;
                left: 0%;
            }
            &.item5 {
                left: 0;
                top: 45%;
                height: 84px;
                right: inherit;
                animation-name: bounce-2;
            }
            &.item6 {
                right: 10%;
                top: 18px;
                width: 60px;
            }
            &.item7 {
                right: 0%;
                bottom: 16%;
                height: 70px;
            }
            &.item8 {
                right: 0;
                bottom: 37%;
                top: inherit;
                left: inherit;
                width: 50px;
            }
        }
    }
}

@media only screen and (max-width: $smlmobile-breakpoint) {
    .bs-banner {
        min-height: 383px;
        width: 100%;
        .inner-content {
            h2 {
                font-size: 21px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}