.mod-wishes-and-prizes{
    position: relative;
    overflow: hidden;
    text-align: center;
    .left-pic{
        position: absolute;
        left: -10%;
        height: 450px;
        z-index: 1;
    }
    .right-pic{
        position: absolute;
        top: 0;
        right: -10%;
        height: 400px;
        z-index: 1;
    }
    .wish-box{
        position: relative;
        &.trigger-pp{
            cursor: pointer;    
        }
        
        h2{
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .upload-action{
        width: 70px;
        height: 70px;
        background-color:$clr-theme;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        // bottom: 62px;
        bottom: 32px;
        i{
            position: absolute;
            font-size: 30px;
            left: 50%;
            transform: translate(-50%);
            top: 50%;
            margin-top: -16px;
        }
    }
}
@media only screen and (max-width: $desktop-breakpoint) {
    .mod-wishes-and-prizes{
        .left-pic{
            left: -95px;
            height: 492px;
        }
        .right-pic{
            right: -50px;
            height: 425px;
        }
        .wish-box{
            .bg-gray{
             width: 90%;
            }
            h2{
                top: 26%;
            }
        }
        .upload-action{
            width: 50px;
            height: 50px;
            bottom: 47px;
            i{
                font-size: 27px;
                margin-top: -16px;
            }
        }
    }
}
@media only screen and (max-width: $tablet-breakpoint) {
    .mod-wishes-and-prizes{
        .left-pic{
            left: -96px;
            height: 365px;
        }
        .right-pic{
            right: -60px;
            height: 335px;
            top: -5px;
        }
        .wish-box{
            .bg-gray{
             width: 90%;
            }
            h2{
                top: 50%;
                margin-top: -64px;
            }
        }
        .upload-action{
            width: 50px;
            height: 50px;
            bottom: 23px;
            i{
                font-size: 27px;
                margin-top: -16px;
            }
        }
    }
}
@media only screen and (max-width: $mobile-breakpoint) {
    .mod-wishes-and-prizes{
        .left-pic{
            height: 140px;
            left: -34px;
        }
        .right-pic{
            height: 140px;
            right: -34px;
        }
        .wish-box{
            .bg-gray{
             width: 90%;
            }
            h2{
                margin-top: -25px;
                margin-bottom: 0;
            }
        }
        .upload-action{
            width: 30px;
            height: 30px;
            bottom: 10px;
            cursor: pointer;
            i{
                font-size: 14px;
                margin-top: -8px;
            }
        }
        &.typ-wishes{
            .left-pic{
                height: 165px;
                left: -34px;
            }
            .right-pic{
                height: 150px;
                right: -34px;
            }
        }
    }
}


@media only screen and (max-width: $smlmobile-breakpoint) {
    .mod-wishes-and-prizes{
        .left-pic{
            height: 128px;
            left: -34px;
        }
        .right-pic{
            height: 128px;
            right: -34px;
        }
        .wish-box{
            .bg-gray{
             width: 90%;
            }
            h2{
                top: 50%;
                margin-top: -23px;
                font-size: 14px;
            }
        }
        .upload-action{
            width: 30px;
            height: 30px;
            bottom: 10px;
            cursor: pointer;
            i{
                font-size: 14px;
                margin-top: -8px;
            }
        }
        &.typ-wishes{
            .left-pic{
               height: 132px;
                left: -34px;
            }
            .right-pic{
               height: 128px;
                right: -34px;
            }
            .wish-box{
                h2{
                    margin-top: -18px;
                }
            }
        }
    }
}