.lyt-section {
    padding: 65px 0;
    position: relative;
    .snowflake {
        animation-name: snowfall;
        animation-duration: 7.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        &.snowflake1 {
            position: absolute;
            right: 28%;
            top: 76px;
            animation-delay: 1s;
        }
        &.snowflake2 {
            position: absolute;
            right: 30%;
            top: 120px;
            animation-delay: 2s;
            &.typ-galsnow1 {
                right: inherit;
                left: 35%;
                top: 0;
            }
        }
        &.snowflake3 {
            position: absolute;
            right: 20%;
            bottom: 10px;
            animation-delay: 1.5s;
            &.typ-galsnow2 {
                right: 40%;
                top: 10%;
                bottom: inherit;
            }
        }
        &.snowflake4 {
            position: absolute;
            right: 10%;
            top: 178px;
            animation-delay: 4.5s;
            &.typ-galsnow3 {
                left: 20%;
                bottom: 0;
                right: inherit;
                top: inherit;
            }
        }
        &.snowflake5 {
            position: absolute;
            left: 10%;
            bottom: 30px;
            animation-delay: 5s;
            &.typ-galsnow4 {
                right: 10px;
                left: inherit;
                bottom: 30%;
            }
        }
        &.snowflake6 {
            position: absolute;
            right: 35%;
            top: -10px;
            z-index: 1;
            animation-delay: 6.5s;
            &.typ-galsnow5 {
                right: inherit;
                left: -50px;
                bottom: 40%;
                top: inherit;
            }
        }
        &.snowflake7 {
            position: absolute;
            left: 24%;
            top: 0;
            z-index: 1;
            animation-delay: 2.5s;
        }
    }
    &.typ-banner {
        padding: 0;
        .container {
            padding: 0;
        }
    }
    &.typ-wishes {
        padding-bottom: 0;
    }
    &.typ-jukebox {
        padding-bottom: 0;
    }
    &.typ-gallary {
        padding-top: 40px;
        .sec-top {
            display: flex;
            .mod-wishes-and-prizes {
                &.mob-show {
                    display: none;
                }
                &.desk-show {
                    display: block;
                    margin-top: -100px;
                    padding-left: 150px;
                    .wish-box {
                        h2 {
                            top: 28%;
                            // left: 50%;
                            left: 45%;
                            transform: translate(-75%);
                            font-size: 35px;
                        }
                    }
                    .right-pic {
                        position: absolute;
                        bottom: 0;
                        top: inherit;
                        right: -10%;
                        height: 235px;
                        z-index: 1;
                    }
                    .upload-action {
                        width: 60px;
                        height: 60px;
                        transform: translate(-65%);
                        i {
                            font-size: 28px;
                            margin-top: -14px;
                        }
                    }
                }
            }
        }
    }
    &.type-resolution {
        position: relative;
        overflow-x: hidden;
        .cm-leftright {
            top: 15px;
            right: -113px;
        }
        .treeParent {
            .tree {
                // position: absolute;
                // top: -60px;
                // bottom: -60px;
                width: 100%;
                margin-top: -30px;
                margin-bottom: -100px;
            }
        }
    }
    &.gratitude {
        overflow-x: hidden;
        .cm-bottomleft {
            left: -74px;
            width: 183px;
        }
    }
    &.wishcard {
        overflow-x: hidden;
        .cm-leftright {
            right: -99px;
            width: 241px;
            top: 0px;
        }
    }
    &.santagram {
        overflow-x: hidden;
        .cm-leftright {
            width: 150px;
            right: -38px;
        }
    }
}

@keyframes snowfall {
    0% {
        opacity: 1;
        transform: translateY(-100px)
    }
    25% {
        opacity: 1;
    }
    63% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        opacity: 0
    }
}

@media only screen and (max-width: $desktop-breakpoint) {
    .lyt-section {
        &.typ-gallary {
            .sec-top {
                .mod-wishes-and-prizes {
                    &.desk-show {
                        display: block;
                        margin-top: -65px;
                        padding-left: 0;
                        .right-pic {
                            height: 220px;
                        }
                        .wish-box {
                            .bg-gray {
                                width: 100%;
                            }
                            h2 {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
        &.type-resolution {
            .treeParent {
                .tree {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .lyt-section {
        &.typ-upload {
            padding: 0;
        }
        &.typ-wishes {
            padding: 0;
        }
        &.typ-gallary {
            .sec-top {
                display: block;
                .mod-wishes-and-prizes {
                    &.mob-show {
                        display: block;
                        .wish-box h2 {
                            margin-top: -18px;
                            margin-bottom: 0;
                        }
                    }
                    &.desk-show {
                        display: none;
                    }
                }
            }
        }
        &.type-resolution,
        &.gratitude,
        &.wishcard,
        &.santagram {
            .cm-leftright,
            .cm-bottomleft {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-section {
        padding: 40px 0;
        &.typ-banner {
            margin-bottom: 20px;
        }
        &.typ-festive-mood {
            .bs-title {
                margin-bottom: 0;
            }
        }
        .snowflake {
            display: none;
        }
        &.typ-upload {
            padding: 0;
        }
        &.typ-cheer {
            padding: 0;
        }
        &.typ-gallary {
            padding-top: 0;
            .sec-top {
                display: block;
                .mod-wishes-and-prizes {
                    &.mob-show {
                        display: block;
                        .wish-box h2 {
                            margin-top: -18px;
                            margin-bottom: 0;
                        }
                    }
                    &.desk-show {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $smlmobile-breakpoint) {
    .lyt-section {
        &.typ-wishes {
            padding-top: 40px;
        }
    }
}